
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="main">
        <div>
            <div class=head style="width: 100%;height: 55px; display: flex;">
                <div ng-controller="SapXepController" class="d-flex justify-content-between align-items-center">
                    <div>
                        Sorting Field Name
                        <select ng-model="sortcolumn">
                            <option value="productId" selected>Mã sản phẩm</option>
                            <option value="productName">Tên sản phẩm</option>
                        </select>
                    </div>
                    <div>
                        <br />
                        Sort direction
                        <input type="button" style="color: black" class="btn btn-primary"
                               ng-click="Chon(direct)" value="{{ direct }}">
                    </div>
                </div>


            </div>
        </div>
        <div class="list-product" ng-controller="SanPhamController">
            <div class="col-3 col-m-6 col-s-12" ng-repeat="s in ListSanPham|orderBy:sortcolumn:reverse">
         
                <div id='0' class="product">
                    <a ng-click="SelectSanPham(s.MaSP)" href="/ChiTietSP/Index">
                        <img class="product-img" src="https://picsum.photos/200/300" />
                    </a>
                    <a href="#" class="product-name">{{s.TenSp}}</a>
                    <input type='button' class='btn-buy' value='CHỌN MUA' />
                    <input type="button" class="btn-view" value="CHI TIẾT" onclick="location='./book.html'" />
                </div>
            </div>
        </div>
        
      

    </div>
