<ul>
    <li class="current">
        <a href="index.html">Trang chủ</a>
    </li>
    <li>
        <a href="about.html">giới thiệu</a>
    </li>
    <li>
        <a href="plants.html">cây trồng</a>
    </li>
    <li>
        <a href="gardens.html">Vườn</a>
    </li>
    <li>
        <a href="news.html">Tin tỨC</a>
        <ul>
            <li>
                <a href="article.html">Article</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="contact.html">Contact</a>
    </li>
</ul>

