<ul>
    <li class="current">
        <a href="index.html">Home</a>
    </li>
    <li>
        <a href="about.html">About</a>
    </li>
    <li>
        <a href="plants.html">Plants</a>
    </li>
    <li>
        <a href="gardens.html">Gardens</a>
    </li>
    <li>
        <a href="news.html">News</a>
        <ul>
            <li>
                <a href="article.html">Article</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="contact.html">Contact</a>
    </li>
</ul>
