
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
<html>
<head></head>
<body>
    <div class="list-product">
        <div class="col-3 col-m-6 col-s-12">
            <div id='0' class="product">
                <img class="product-img" src="vi.jpg" />
                <a href="#" class="product-name">Ví da gập 3 khóa bấm động vật </a>
                Gía cũ:<label><s s class="product-old-price">105.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">95.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT"
                       onclick="location='./ProductDetail.html'"> </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='1' class="product">
                <img class="product-img" src="./butbaby.jpg" />
                <a href="#" class="product-name">Bút Donald & Daisy</a>
                Gía cũ:<label><s class="product-old-price">25.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">15.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='2' class="product">
                <img class="product-img" src="./gau.jpg" />
                <a href="#" class="product-name">Heo bông mặc áo</a>
                Gía cũ:<label><s class="product-old-price">200.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">160.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='3' class="product">
                <img class="product-img" src="butbosua.jpg" />
                <a href="#" class="product-name">Bút bò sữa</a>
                Gía cũ:<label><s class="product-old-price">35.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">20.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT " onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='4' class="product">
                <img class="product-img" src="sotay.jpg" />
                <a href="#" class="product-name">Sổ bìa cứng A5</a>
                Gía cũ:<label><s class="product-old-price">65.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">55.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT " onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='5' class="product">
                <img class="product-img" src="stiker.jpg" />
                <a href="#" class="product-name">Polette Sticker</a>
                Gía cũ:<label><s class="product-old-price">25.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">18.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='6' class="product">
                <img class="product-img" src="note.jpg" />
                <a href="#" class="product-name">Note vuông gấu bông</a>
                Gía cũ:<label><s class="product-old-price">15.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">12.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT " onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='7' class="product">
                <img class="product-img" src="dochoi.jpg" />
                <a href="#" class="product-name">Thông thỏ </a>
                Gía cũ:<label><s class="product-old-price">185.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">160.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='8' class="product">
                <img class="product-img" src="tui.jpg" />
                <a href="#" class="product-name">Totebag động vật nền trắng </a>
                Gía cũ:<label><s class="product-old-price">115.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">100.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>

        <div class="col-3 col-m-6 col-s-12">
            <div id='9' class="product">
                <img class="product-img" src="soxoan.jpg" />
                <a href="#" class="product-name">Sổ gáy xoắn A5 (68tr) </a>
                Gía cũ:<label><s class="product-old-price">60.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">48.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='10' class="product">
                <img class="product-img" src="sobiacung.jpg" />
                <a href="#" class="product-name">Sổ bìa cứng</a>
                Gía cũ:<label><s class="product-old-price">70.000 đ</s></label> <br>
                Gía khuyến mại:<label class="price">50.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>
        </div>
        <div class="col-3 col-m-6 col-s-12">
            <div id='11' class="product">
                <img class="product-img" src="./soxoan.jpg" />
                <a href="#" class="product-name">Sổ kẻ ngang A5 72 trang</a>
                Gía cũ:<label><s class="product-old-price">50.000 đ</s></label> </br>
                Gía khuyến mại:<label class="price">100.000 đ</label>
                <input type="button" class="btn-buy" value="CHỌN MUA"></input>
                <input type="button " class="btn-view" value="CHI TIẾT" onclick="location='./ProductDetail.html'">
                </input>
            </div>

        </div>
    </div>
</body>
</html>
